@import "bootstrap/scss/bootstrap";
@import 'bootstrap-icons/font/bootstrap-icons.css';

body {
  background-color: rgba(235,213,250,1);
}

.btn-kanon {
  background-color: white;
  color: #ff791b;
  border-color: #ff791b;
  &:hover, &:focus {
    background-color: #ff791b;
    color: white;
  }
}

.btn-chisato {
  background-color: white;
  color: #ff6d6d;
  border-color: #ff6d6d;
  &:hover, &:focus {
    background-color: #ff6d6d;
    color: white;
  }
}
